<!DOCTYPE html>

<html>

<head>
    {%load static%}
    <title>University Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
    <link rel="stylesheet" href="{% static 'css/university-details.css' %}">
    <link rel="stylesheet" href="{% static 'css/universitylist.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- JS, Popper.js, and jQuery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <style>
    #message {
        display:none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

    #message p {
    padding: 10px 35px;
    font-size: 18px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
    color: green;
    }

    .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
    }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
    color: red;
    }

    .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
    }
    </style>

</head>

<body>
    <section id="nav-bar">

        <nav class="navbar navbar-expand-lg navbar-light nav-height">
            <a class="navbar-brand" href="{%url 'home'%}">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'home'%}">Home </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          University
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #1abc9c;">
                            <a class="dropdown-item" href="{%url 'agriculturaluniversitylist' %}">Agricultural University</a>
                            <a class="dropdown-item" href="{%url 'engineeruniversitylist' %}">Engineering University</a>
                            <a class="dropdown-item" href="{%url 'medicaluniversitylist' %}">Medical University</a>
                            <a class="dropdown-item" href="{%url 'publicuniversitylist' %}">Public University</a>
                            <a class="dropdown-item" href="{%url 'privateuniversitylist' %}">Private University</a>
                            <a class="dropdown-item" href="{%url 'stuuniversitylist' %}">Science and Teachnology University</a>
                            <a class="dropdown-item" href="{%url 'suuniversitylist' %}">Special University</a>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact'%}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'compilerrrr'%}">Compiler</a>
                    </li>
                    <li class="nav-item d-flex">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'user'%}">{{ user.get_username }}</a>
                        <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form action="{%url 'logout'%}" method="POST" id='logout'>
                            {% csrf_token%}
                            <input type="hidden">
                        </form>
                        {%else%}
                        <a class="nav-link" href="{% url 'signin'%}">Login</a>
                        <a class="nav-link" href="#">/</a>
                        <a class="nav-link" href="{% url 'signup'%}">Sign Up</a> {%endif%}
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    {% block content%} {% endblock %}


    <div class="footer">
        <div class="row footer-official">
            <div class="col-md-12 text-center social" style="color: #1abc9c;">
                <a class="btn btn-xs " href="#" style="color: #1abc9c;"></a><i class="fa fa-facebook fa-2x"></i></a><a class="btn btn-xs" href="#" style="color: #1abc9c;"><i class="fa fa-twitter fa-2x"></i></a><a class="btn btn-xs" href="#" style="color: #1abc9c;"><i class="fa fa-instagram fa-2x"></i></a>
                <a class="btn btn-xs" href="#" style="color: #1abc9c;"><i class="fa fa-youtube-play fa-2x"></i></a>
            </div>
            <div class="col-md-12">
                <div class="text-center" style="color: white;"><span>©</span>All rights reserved by Unifo</div>
            </div>
        </div>
    </div>


</body>

</html>