{%extends 'base.html' %} {%block content%} {%load static%}

<div class="container">
    <div class="main-body">

        {%for data in details.all%}

        <div class="row gutters-sm">
            <div class="col-md-12 mb-3 ">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img class="img-fluid" src="{{data.img.url}}" alt="Achivment">
                            <!-- <div class="mt-3">
                                <a href="#">
                                    <button class="btn btn-primary">Add Photo</button>
                                </a>

                                <button class="btn btn-outline-primary">Message</button> -->
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <h3>{{data.title}}</h3>
                        </div>
                        <hr>
                        <div class="row" style="overflow: hidden;text-overflow: ellipsis;   white-space: nowrap;">
                            <div class="col-md-12">
                                {{data.description | safe}}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% if data.username == request.user.username%}
        <div style="text-align: center; ">
            <a href="{% url 'update_achievement' data.id %}">
                <Button class="btn btn-secondary"> Delate Achievement</Button>
            </a>
        </div>
        {%endif%} {%endfor%}
    </div>




</div>



{% endblock %}